.nave-div
    a(href="/") 主页

    a(href="/about") 关于我们

    a(href="/blogs") 新闻资讯

    //a(href="shortcodes.html") SHORT CODES
    //
    //a(href="gallery.html") GALLERY

    a(href="/contact") 联系我们

style.
    .nave-div {
        position: -webkit-sticky; /* Safari */
        position: fixed;
        top: 0px;
        /*left: 100%;*/
        /*background-color: blue;*/
        text-align: right;
        width:100%;
        text-align: right;
        /*border: 2px solid #4CAF50;*/
    }
    a {
        color: black;
        font-size: 14px;
        margin: 0 20px 0 20px;
    }


