.nav-div
    .container-fluid
        .row
            a.nav-a(href="/") 主页

            a.nav-a(href="/about") 关于我们

            a.nav-a(href="/blogs") 新闻资讯

            //a(href="shortcodes.html") SHORT CODES
            //
            //a(href="gallery.html") GALLERY

            a.nav-a(href="/contact") 联系我们



style.
    .nav-div {
        position: -webkit-sticky; /* Safari */
        position: fixed;
        /*top: 0px;*/
        /*left: 100%;*/
        /*background-color: blue;*/
        text-align: right;
        width:100%;
        /*border: 2px solid #4CAF50;*/
    }
    .nav-a {
        color: black;
        font-size: 14px;
        margin: 0 20px 0 20px;
    }
